/**ff_styles**/
/**mixins**/
/**end mixins**/
/* line 20, ../scss/ff_styles.scss */
body {
  background: black;
  background-size: 100%;
}
/* line 24, ../scss/ff_styles.scss */
body .ibg-bg {
  position: absolute;
  top: 15%;
}

/* line 32, ../scss/ff_styles.scss */
#alphabet_hidden-menu {
  position: fixed;
  z-index: 999;
  top: -60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.82);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.82) 0%, transparent 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.82)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.82) 0%, transparent 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.82) 0%, transparent 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.82) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.82) 0%, transparent 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  height: 65px;
}
/* line 47, ../scss/ff_styles.scss */
#alphabet_hidden-menu ul {
  text-align: center;
  display: block;
  margin: 0px auto 0px;
  list-style: none;
  position: absolute;
  left: 50%;
  margin-left: -375px;
}
/* line 56, ../scss/ff_styles.scss */
#alphabet_hidden-menu ul li {
  display: block;
  margin: -25px 9px 5px;
  float: left;
}
/* line 61, ../scss/ff_styles.scss */
#alphabet_hidden-menu ul li a {
  color: white;
  font-family: "alternate-gothic-no-1-d",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
  font-size: 18px;
}

/* line 74, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser {
  width: 100%;
  padding-top: 11%;
  text-align: center;
  margin-top: -45px;
}
/* line 80, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser .ball_container {
  position: relative;
  height: auto;
  display: block;
}
/* line 85, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser .ball_container #ball_1, #ff_wrapper .ff_full-browser .ball_container #ball_2 {
  display: block;
  border-radius: 50%;
  background-color: white;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0px;
  margin-top: 20px;
  opacity: 0;
  drop-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}
/* line 99, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser #ball_container_1 {
  position: fixed;
  top: 55%;
  width: 100%;
}
/* line 105, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser #ball_container_2 {
  position: fixed;
  top: 67%;
  width: 100%;
}
/* line 111, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser img {
  display: block;
  margin: auto;
}
/* line 116, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser #scroll_icon {
  position: fixed;
  top: 78%;
  width: 100%;
  display: block;
}
/* line 123, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser #scroll_icon img {
  margin: 5% auto 0px;
}
/* line 128, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser h1 {
  position: fixed;
  top: 25%;
  width: 100%;
}
/* line 134, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser p {
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 3%;
  font-family: "adriane",serif;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  position: fixed;
  top: 45%;
  width: 100%;
}
/* line 150, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser ul {
  text-align: center;
  display: inline-block;
  margin: 20px auto 0px;
  list-style: none;
}
/* line 157, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser ul li {
  font-family: "adriane",serif;
  font-weight: 700;
  color: white;
  float: left;
  font-size: 46px;
  padding: 0px 10px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
/* line 168, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser ul li.lit a {
  color: white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}
/* line 174, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser ul li a {
  color: #5e7bab;
}
/* line 178, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser ul li a:hover {
  color: #ffffff;
}
/* line 188, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser {
  position: fixed;
  /*overflow: hidden;*/
  z-index: 0;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 198, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 0;
}
/* line 206, ../scss/ff_styles.scss */
#ff_wrapper .ff_full-browser:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: black url(../img/ff_hero_bg.jpg) top center fixed;
  background-size: cover;
  z-index: -1;
  /*-webkit-filter: blur(3px);
  -webkit-transition: -webkit-filter 0.25s ease-out;*/
}
/* line 221, ../scss/ff_styles.scss */
#ff_wrapper #letter_content {
  position: relative;
  top: 100%;
  z-index: 100;
  margin-top: 100vh;
}
/* line 229, ../scss/ff_styles.scss */
#ff_wrapper .ff_article {
  height: 530px;
  background-color: black;
  /**text that sits over the parallaxing elements**/
}
/* line 236, ../scss/ff_styles.scss */
#ff_wrapper .ff_article.reverse .ff_image {
  float: right;
}
/* line 240, ../scss/ff_styles.scss */
#ff_wrapper .ff_article.reverse .ff_letter {
  float: left;
  padding-left: 10%;
  padding-right: 2%;
  background: black url(../img/stone_bg/stone_1.jpg) top center no-repeat;
  background-size: 100%;
}
/* line 247, ../scss/ff_styles.scss */
#ff_wrapper .ff_article.reverse .ff_letter .letter {
  text-align: right;
}
/* line 251, ../scss/ff_styles.scss */
#ff_wrapper .ff_article.reverse .ff_letter p {
  text-align: right;
}
/* line 258, ../scss/ff_styles.scss */
#ff_wrapper .ff_article.reverse .ff_title h3 {
  text-align: left;
  margin-left: 20px;
  display: block;
}
/* line 263, ../scss/ff_styles.scss */
#ff_wrapper .ff_article.reverse .ff_title h4 {
  text-align: left;
  margin-left: 20px;
  display: block;
}
/* line 272, ../scss/ff_styles.scss */
#ff_wrapper .ff_article .ff_image {
  width: 65%;
  float: left;
  height: 530px;
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  background-size: 80%;
  -webkit-transform: translateZ(0);
  padding: 10%;
}
/* line 285, ../scss/ff_styles.scss */
#ff_wrapper .ff_article .ff_letter {
  width: 35%;
  float: right;
  height: 100%;
  padding-right: 10%;
  padding-left: 2%;
  background: black url(../img/stone_bg/stone_1.jpg) top center no-repeat;
  background-size: 100%;
}
/* line 294, ../scss/ff_styles.scss */
#ff_wrapper .ff_article .ff_letter .letter {
  font-size: 100px;
  color: white;
  text-align: left;
  margin-bottom: 20px;
}
/* line 301, ../scss/ff_styles.scss */
#ff_wrapper .ff_article .ff_letter p {
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  color: white;
  font-family: "adriane",sans-serif;
  font-style: normal;
  font-weight: 300;
}
/* line 314, ../scss/ff_styles.scss */
#ff_wrapper .ff_article .ff_title.white h3, #ff_wrapper .ff_article .ff_title.white h4 {
  color: white;
}
/* line 319, ../scss/ff_styles.scss */
#ff_wrapper .ff_article .ff_title h3 {
  opacity: 0;
  text-align: right;
  margin-right: 50px;
  display: block;
  font-family: "alternate-gothic-no-1-d",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 35px;
}
/* line 328, ../scss/ff_styles.scss */
#ff_wrapper .ff_article .ff_title h4 {
  opacity: 0;
  text-align: right;
  margin-right: 50px;
  display: block;
  font-family: "alternate-gothic-no-1-d",sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/***********************/
/***responsive styles***/
/***********************/
@media only screen and (max-width: 40em) {
  /* line 353, ../scss/ff_styles.scss */
  #ff_wrapper .ff_full-browser, #ff_wrapper .ff_full-browser h1, #ff_wrapper .ff_full-browser p, #ff_wrapper .ff_full-browser #ball_container_1, #ff_wrapper .ff_full-browser #ball_container_2, #ff_wrapper .ff_full-browser #scroll_icon {
    position: absolute !important;
  }

  /* line 357, ../scss/ff_styles.scss */
  #ff_wrapper .ff_full-browser #ball_container_1, #ff_wrapper .ff_full-browser #ball_container_2 {
    display: none;
  }

  /* line 361, ../scss/ff_styles.scss */
  #ff_wrapper .ff_full-browser img {
    width: 75%;
  }

  /* line 365, ../scss/ff_styles.scss */
  #ff_wrapper .ff_full-browser #scroll_icon img {
    margin: 5% auto 0px;
    width: 9%;
  }

  /* line 370, ../scss/ff_styles.scss */
  #ff_wrapper .ff_article .ff_letter {
    width: 100%;
    height: auto;
    padding: 0px 6% 3%;
  }

  /* line 376, ../scss/ff_styles.scss */
  #ff_wrapper .ff_article .ff_image {
    width: 100%;
  }

  /* line 380, ../scss/ff_styles.scss */
  #ff_wrapper .ff_article, #ff_wrapper .ff_article .ff_image {
    height: 200px;
    background-size: cover;
    background-attachment: inherit;
  }

  /* line 386, ../scss/ff_styles.scss */
  #ff_wrapper .ff_article.reverse .ff_letter {
    padding-left: 2%;
    width: 100%;
    height: auto;
    padding: 0px 6% 3%;
  }

  /* line 393, ../scss/ff_styles.scss */
  #ff_wrapper .ff_full-browser #scroll_icon {
    position: fixed;
    top: 52%;
  }

  /* line 399, ../scss/ff_styles.scss */
  #alphabet_hidden-menu {
    display: none;
  }
}
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 409, ../scss/ff_styles.scss */
  #ff_wrapper .ff_full-browser, #ff_wrapper .ff_full-browser h1, #ff_wrapper .ff_full-browser p, #ff_wrapper .ff_full-browser #ball_container_1, #ff_wrapper .ff_full-browser #ball_container_2, #ff_wrapper .ff_full-browser #scroll_icon {
    position: absolute !important;
  }

  /* line 413, ../scss/ff_styles.scss */
  #ff_wrapper .ff_article .ff_letter {
    padding-right: 2%;
    width: 45%;
  }

  /* line 418, ../scss/ff_styles.scss */
  #ff_wrapper .ff_article .ff_image {
    width: 55%;
  }

  /* line 422, ../scss/ff_styles.scss */
  #ff_wrapper .ff_article, #ff_wrapper .ff_article .ff_image {
    height: 450px;
    background-size: cover;
    background-attachment: inherit;
  }

  /* line 428, ../scss/ff_styles.scss */
  #ff_wrapper .ff_article.reverse .ff_letter {
    padding-left: 2%;
    width: 45%;
  }

  /* line 433, ../scss/ff_styles.scss */
  #alphabet_hidden-menu {
    display: none;
  }
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* min-width 1025px, large screens */
/* min-width 1025px, large screens */
