/*
Error: Undefined variable: "$ign-red".
        on line 16 of /Users/davidmoores/Projects/ffa-z/scss/ign_header.scss

11: 		background-color: white;
12: 	}
13: }
14: 
15: .ign_red-wrapper {
16: 	background-color: $ign-red;
17: 	position: relative;
18: 	height: 100%;
19: 	width: 20%;
20: 	float: left;
21: 

Backtrace:
/Users/davidmoores/Projects/ffa-z/scss/ign_header.scss:16
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/bin/compass:23:in `load'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/bin/compass:23:in `<main>'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$ign-red\".\A         on line 16 of /Users/davidmoores/Projects/ffa-z/scss/ign_header.scss\A \A 11: 		background-color: white;\A 12: 	}\A 13: }\A 14: \A 15: .ign_red-wrapper {\A 16: 	background-color: $ign-red;\A 17: 	position: relative;\A 18: 	height: 100%;\A 19: 	width: 20%;\A 20: 	float: left;\A 21: "; }
